
footer{
    display: 'flex';
    justify-content: 'center';
    color: 'white';
    background-color: 'black';
    padding: '20px';
}
p{
    margin-bottom: 6px;
}

img{
    margin: 0px
}

.grid-container{
    display: 'grid'; 
    grid-template-columns: "300px 300px 300px 300px";
}